{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
     }
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"]
  }
}
